body { 
        background-image: url(photos/background.jpg);
}

h1 {
    text-align: center;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

nav li {
    display: inline;
    float:left;
}

nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

nav li a:hover{
    background-color: rgb(235, 169, 205);
}

h2{
    text-align: center;
}

h3.bottom{
    border-style: inset;
}

figure{
    text-align: center;
    border-style: ridge;
}

ul.dashed{
    border-style: dashed;
    text-align: center;
    list-style: square;
}

ul.dotted{
    border-style: dotted;
    text-align: center;
    list-style: circle;
}

p{
    text-align: center;
}